.product-details-container {
    width: 60%;
    margin: 20px auto;
    background-color: #f9fafb; /* Light Gray */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.product-details-title {
    font-size: 24px;
    font-weight: bold;
    color: #013b07; /* Dark Blue */
    margin-bottom: 16px;
    text-align: center;
}

.product-details p {
    font-size: 18px;
    margin: 8px 0;
    color: #374151; /* Gray-700 */
}

.product-details p strong {
    color: #111827; /* Gray-900 */
}
